[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
urllib3 = "*"
boto3 = "*"
aws-requests-auth = "*"

[dev-packages]
pytest = "*"
docker = "*"
flask = "*"
black = "*"
isort = "*"
pylint = "*"
pylint-pytest = "*"

[requires]
python_version = "3.9"
